body {
  font-family: cursive;
  color: gold;
}

p {
  color: blue;
  font-style: italic;
}

img{
  width:200px;
  height: 200px;

}

.chicken1{
  width: 300px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 45px;
  text-align: center;
  float: right;

}

.chicken2{
  width: 300px;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  float: right;
}

.chicken3{
  width: 300px;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  float: right;
}

h1{
  text-align: center;
  font-size: 45px;
}
